
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #f0f0f0;
}


.desktop-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Style the Todo App title */
.todo-app {
  font-size: 48px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  color: #000;
  opacity: 0.5;
  margin-bottom: 20px;
}

.textfield {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 400px;
}

.textfield input {
  flex: 1; 
  width: 100%;
}

/* Style the add button */
.addbutton {
  cursor: pointer;
  background-color: #d9d9d9;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  background-image: url('./public/addbutton@3x.png');
  background-size: cover;
}

/* Style the dark mode switch button */
.darkmodeswitch-1 {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #d9d9d9;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-image: url('./public/darkmodeswitch1@3x.png');
  background-size: cover;
}

/* Style the image */
.desktop-1-child {
  width: 200px;
  height: 150px;
  margin-top: 20px;
}

/* Style the task container */
.task {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 10px 300px; 
  width: 70%; 
}

/* Style the task number */
.task span:first-child {
  font-weight: bold;
  margin-right: 20px;
}

/* Style the task content */
.task span:last-child {
  flex: 1;
}

/* Add some space between tasks */
.task + .task {
  margin-top: 10px;
}

.task-container {
  margin-top: -178px; /* Add some space between the textfield and the tasks */
}

.menu-wrapper {
  position: relative;
}

.menu-icon {
  width: 30px; 
  height: 30px; 
  position: absolute;
  top: 10px; 
  left: 10px; 
  cursor: pointer;
  z-index: 2; 
}


.menu-options {
  display: none; 
  position: absolute; 
  top: 50px;
  left: 0; 
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.menu-options ul {
  list-style: none;
  padding: 0;
}

.menu-options li {
  padding: 10px;
}

.menu-options li a {
  text-decoration: none;
  color: #333;
}

/* Remove the default outline for the buttons when focused */
button:focus {
  outline: none;
}
